.navbar-inverse {
    background-color: #FAAD09;
}
.btn-success {
	background-color: 	#3FA89A;
}
.rent-carousel .item.third {
    background: #FAAD09;

}

.logo {
    height: 130%;
    max-width: 450px;

}

#menu-item a {
    color:#E61F24;
}

